<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="{% url 'index' %}" style="margin-left: 1%">CRM</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'customer:customer-list' %}">Customers</a>
        </li>
    </ul>
    <a class="" href="{% url 'logout' %}" style="margin-left: 85%">Logout</a>
</nav>
